.s-hero {
  background: url(../img/banner-hero.png) no-repeat center center;
  background-size: cover;
  height: 70rem;
  .container {
    .info {
      width: 100%;
      max-width: 74rem;
      padding-top: 19.6rem;

      .tag {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;
        span {
          font-weight: 500;
          font-size: 1.3rem;
          padding: 0 1rem;
          border-radius: 12rem;
          line-height: 2.6rem;
          color: $white;
          background-color: #006d8f;
        }
        p {
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 150%;
          color: rgba(255, 255, 255, 0.7);
          margin-left: 1.2rem;
        }
      }
      & > p {
        width: 100%;
        max-width: 36.5rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 2.4rem;
        margin-bottom: 4rem;
      }
    }
  }
  @include responsive(800px) {
    .s-hero {
      background-size: auto;
      .container {
        .info {
          padding-top: 16rem;
          h1 {
            font-size: 32px;
          }
          & > p {
            font-size: 1.6rem;
            line-height: 2.8rem;
          }
        }
      }
    }
  }
  @include responsive(480px) {
    .s-hero {
      .container {
        .info {
          h1 {
            text-align: center;
          }
          & > p {
            text-align: center;
          }
        }
      }
    }
  }
}

.s-featured {
  .container {
    display: flex;
    .info-featured {
      width: 100%;
      padding-top: 10rem;
      > p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 130%;
        color: $gray-brand;
        margin-top: 0.8rem;
      }
      .box-featured {
        margin-top: 10rem;
        max-width: 62.4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 6.8rem;
        .featured {
          max-width: 25.9rem;
          .icon {
            margin-bottom: 3rem;
            &::after {
              content: "";
              position: relative;
              width: 15px;
              height: 2px;
              background-color: $yellow-brand;
              display: block;
              top: 1.2rem;
            }
          }

          h4 {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 150%;
            color: $black-brand;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: 1.6rem;
            line-height: 150%;
            color: $gray-brand;
          }
        }
      }
    }
    .image-cards {
      width: 100%;
      max-width: 46.629rem;
      margin-top: -7rem;
    }
  }
  @include responsive(960px) {
    .info-featured {
      h2,
      > p {
        text-align: center;
      }
    }
    .box-featured {
      max-width: 100%;
      margin: 0 auto;
    }
    .image-cards {
      display: none;
    }
  }
}

@include responsive(560px) {
  .s-featured {
    .container {
      .info-featured {
        .box-featured {
          .featured {
            max-width: 90%;
            margin: 0 auto;
            .icon {
              text-align: center;
              &::after {
                display: none;
              }
            }
            h4,
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
