.s-hero {
  background: url(../img/banner-hero.png) no-repeat center center;
  background-size: cover;
  height: 70rem;
  .container {
    .info {
      width: 100%;
      max-width: 74rem;
      padding-top: 196px;

      .tag {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;
        span {
          font-weight: 500;
          font-size: 1.3rem;
          padding: 0 1rem;
          border-radius: 12rem;
          line-height: 2.6rem;
          color: $white;
          background-color: #006d8f;
        }
        p {
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 150%;
          color: rgba(255, 255, 255, 0.7);
          margin-left: 1.2rem;
        }
      }
      & > p {
        width: 100%;
        max-width: 36.5rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 2.4rem;
        margin-bottom: 4rem;
      }
    }
  }
}
